In [1]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
csv_file = 'data/NFLX.csv'

df = pd.read_csv(csv_file, usecols = ['Date', 'Open', 'High', 'Low', 'Close'])

In [3]:
df

            Date        Open        High         Low       Close
0     2018-02-05  262.000000  267.899994  250.029999  254.259995
1     2018-02-06  247.699997  266.700012  245.000000  265.720001
2     2018-02-07  266.579987  272.450012  264.329987  264.559998
3     2018-02-08  267.079987  267.619995  250.000000  250.100006
4     2018-02-09  253.850006  255.800003  236.110001  249.470001
...          ...         ...         ...         ...         ...
1004  2022-01-31  401.970001  427.700012  398.200012  427.140015
1005  2022-02-01  432.959991  458.480011  425.540009  457.130005
1006  2022-02-02  448.250000  451.980011  426.480011  429.480011
1007  2022-02-03  421.440002  429.260010  404.279999  405.600006
1008  2022-02-04  407.309998  412.769989  396.640015  410.170013

[1009 rows x 5 columns]